<!DOCTYPE html>
<html>
<head>
	<title>Categories</title>
</head>
<body>
	<body>
	<form type="get" action="Search" style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Search</button>
</form>

{% for c in categories %}
	<a href="Category/{{c.category}}">{{c.category}}</a>
{% endfor %}

<h2> Top picks </h2>
<br>
{% for t in top %}
	<a href="Category/{{t.category}}/Item/{{t.p_name}}">{{t.p_name}}</a>
{% endfor %}

</body>
</html>