<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
</head>
<body>
{% for d in details %}
	{{d.store_id}} {{d.Price}}
{% endfor %}

<form method="POST" action="{% url 'Buy:AddToCart' %}">
	<input type="number" name="quantity" min="1" max="20">
	<select name="Preference">
		<option value="NONE">NONE</option>
	{% for d in details %}
		<option value="{{d.store_id}}">{{d.store_id}}</option>
	{% endfor %}
	</select>
	<select name="Rating">
		<option value=null>None</option>
		<option value=1>1</option>
		<option value=2>2</option>
		<option value=3>3</option>
		<option value=4>4</option>
		<option value=5>5</option>
	</select>
	<input type="hidden" name="p_id" value="{{ request.session.P_id }}">	
<br>
	<input type="submit">

</form>

</body>
</html>